@import url('https://fonts.googleapis.com/css2?family=Latin+Modern+Roman:wght@400;700&display=swap');

body {
  color: #222;
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  max-width: 768px;
}
body {
}


header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
  row-gap: 0em;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
  row-gap: 0em;
}

footer > p {
  margin-bottom: 0;

}

a {
  color: #00e;
  text-decoration: none;
}

nav > ul {
  margin-top: 0;
  display: flex;
  gap: 1em;
  list-style-type: none;
  padding-left: 0;

  /*text-decoration: none;*/
}
